openapi: 3.0.0
info:
  version: '1.0'
  title: Respiratory Depression Risk Indicator
  description: >-
    This object scans a list of prescriptions and determines if the patient is
    at risk greater for drug-induced respiratory depression because of being
    exposed simultaneously to a known dangerous combination of an opioid, a
    benzodiazepine, and a muscle relaxant.
  contact:
    name: KGrid Team
    email: kgrid-developers@umich.edu
    url: 'http://kgrid.org'
  license:
    name: GNU General Public License v3 (GPL-3)
    url: >-
      https://tldrlegal.com/license/gnu-general-public-license-v3-(gpl-3)#fulltext
tags:
  - name: KO Endpoints
    description: Respiratory Depression Risk Indicator Endpoints
servers:
  - url: /99999/10103/1.0
paths:
  /tripleThreatDetector:
    post:
      tags:
        - KO Endpoints
      description: >-
        scans a list of a patient's prescriptions and determines if they are at
        higher risk for drug-induced respiratory depression because of being
        exposed simultaneously to a combination of an opioid, a benzodiazepine,
        and a muscle relaxant.
      operationId: tripleThreatDetector
      requestBody:
        description: RxNorm Semantic Clinical Drug codes for a paitent
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/druglist'
      responses:
        '200':
          description: response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/output'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    druglist:
      required:
        - rxcuis
      properties:
        rxcuis:
          type: string
          example: '106500,200240,856917,994226,197446,801958'
    output:
      required:
        - result
      properties:
        result:
          type: string
          example: >-
            {condition_satisfied:false,summary:{opioid:false,bzd:false,mr:false},detail:{}}
    Error:
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
